header.filter-header
	.row
		.col-md-1.col-2
			img(src="static/images/general/doggo.png")
		.col-md-7.header-title
			h4 Welcome to PuppyFinder - The Puppy Search Engine!
		.right-nav.col-md-4.col-10.text-right
			button.btn.btn-signup Signup
			button.btn.btn-login Login
			a(role="button").btn
				+icon('faq-white')
			a(role="button").btn
					+icon('hamburger')
			.side-menu.col-lg-9.col-md-10.col-sm-6.col-8.ml-auto.text-center
				ul.navbar-nav.mr-auto
					li.dropdown-item.nav-item.filter-nav__link.active-item Puppies
						ul.sub-nav
							li.sub-nav__link 
								a Find a puppy
							li.sub-nav__link 
								a Find a puppy
							li.sub-nav__link 
								a Find a puppy
							li.sub-nav__link 
								a Find a puppy
					li.dropdown-item.nav-item.filter-nav__link Adopt
						ul.sub-nav
							li.sub-nav__link 
								a Find a puppy
							li.sub-nav__link 
								a Find a puppy
							li.sub-nav__link 
								a Find a puppy
							li.sub-nav__link 
								a Find a puppy
					li.dropdown-item.filter-nav__link.nav-item Rescue
						ul
					li.dropdown-item.nav-item.filter-nav__link Reeders
						ul 
					li.dropdown-item.nav-item.filter-nav__link breeds
						ul 
					li.dropdown-item.nav-item.filter-nav__link resources
						ul 
					li.dropdown-item.nav-item.filter-nav__link avertise
						ul 