header
	nav.navbar.navbar-expand-lg
		a.navbar-brand
			+icon('dog-icon')
		button(type="button" data-togler="collapse" data-target="#navbarSupportedContent").navbar-toggler
			span.navbar-toggler-icon
		.collapse.navbar-collapse#navbarSupportedContent
			ul.navbar-nav.mr-auto
				each link, title in headerNav.mainNav
					li.header-nav__item.nav-item
						a(href=link).nav-link.header-nav__link= title
			.right-nav
				button.btn.btn-signup Signup
				button.btn.btn-login Login
				a(role="button").btn
					+icon('faq-white')
	.header-img
		.container.header-search
			h1.header-search__title Welcome to PuppyFinder - The Puppy Search Engine!
			p.header-search__text The Most Comprehensive Online Resource for Finding and Raising a PUPPY!
			.header-search__form
				label
					+icon('search')
					input(type="search" placeholder="Start Typing Breed Name" aria-describedby="basic-addon1").form-control




