.container.card-for-sale
	.dogs-card-header
		ul.list-inline.d-flex.align-items-center
			li.list-inline-item.text-uppercase Featured Puppies For Sale
			li.list-inline-item Find your perfect puppy!
			li.list-inline-item.ml-auto See All Puppies For Sale
	.card-deck
		.card
			img(src="../static/images/general/dog-card.jpg").card-img-top
			.card-img-overlay
				span.img-label Whiskers  
			.card-body
				h5.card-title.dog-card-title Poodle (Toy) - Yorkshire Terrier Mix
				p.card-text Female, 4 Months Old
				p.card-text.text-uppercase RIALTO, CA, USA   
				span.card-price $400
		.card
			img(src="../static/images/general/dog-card1.jpg").card-img-top
			.card-img-overlay
				span.img-label Whiskers  
			.card-body
				h5.card-title.dog-card-title Yorkshire Terrier Mix
				p.card-text Female, 4 Months Old
				p.card-text.text-uppercase RIALTO, CA, USA   
				span.card-price $400
		.card
			img(src="../static/images/general/bitmap.jpg").card-img-top
			p.card-text   
				small Our sponsors can be here!
		.card
			img(src="../static/images/general/dog-card2.jpg").card-img-top
			.card-img-overlay
				span.img-label Puppies Nickname   
			.card-body
				h5.card-title.dog-card-title Poodle (Toy) - Yorkshire Terrier Mix
				p.card-text Female, 4 Months Old
				p.card-text.text-uppercase RIALTO, CA, USA   
				span.dog-card-title.text-uppercase BEST OFFER