.container.card-for-adoption
	.dogs-card-header
		ul.list-inline.d-flex.align-items-center
			li.list-inline-item.text-uppercase Featured Puppies For Adoption
			li.list-inline-item You are one click away from saving a life!
			li.list-inline-item.ml-auto See All Puppies For Adoption
	.card-deck
		.card
			img(src="../static/images/general/dog-card3.jpg").card-img-top
			.card-img-overlay
				span.img-label Whiskers  
			.card-body
				h5.card-title.dog-card-title Poodle (Toy) - Yorkshire Terrier Mix
				p.card-text Female, 4 Months
				p.card-text.text-uppercase RIALTOВghuretwasd, CA, USA    
				span.card-icon
					+icon('heart')
		.card
			img(src="../static/images/general/dog-card4.jpg").card-img-top
			.card-img-overlay
				span.img-label Whiskers  
			.card-body
				h5.card-title.dog-card-title Poodle (Toy) - Yorkshire
				p.card-text Female, 4 Months
				p.card-text.text-uppercase RIALTOВghuretwasd, CA, USA    
				span.card-icon
					+icon('heart')
		.card
			img(src="../static/images/general/dog-card5.jpg").card-img-top
			.card-img-overlay
				span.img-label Whiskers  
			.card-body
				h5.card-title.dog-card-title Poodle (Toy) - Yorkshire Terrier Mix
				p.card-text Female, 4 Months
				p.card-text.text-uppercase RIALTOВghuretwasd, CA, USA    
				span.card-icon
					+icon('heart')
		.card
			img(src="../static/images/general/dog-card6.jpg").card-img-top
			.card-img-overlay
				span.img-label Whiskers   
			.card-body
				h5.card-title.dog-card-title Poodle (Toy) - Yorkshire
				p.card-text Female, 4 Months
				p.card-text.text-uppercase RIALTO, CA, USA   
				span.card-icon
					+icon('heart')