section.container.card-breeds
	.dogs-card-header
		ul.list-inline.d-flex.align-items-center
			li.list-inline-item.text-uppercase Featured Breeders
			li.list-inline-item All breeders listed on PuppyFinder.com are ID Verified
			li.list-inline-item.ml-auto View All Breeder Profiles
	.card-deck
		.card.text-center
			.card-header
				span.text-uppercase  Аkc reg beautiful
				p.text-uppercase  french bulldog puppies
			img(src="../static/images/general/dog-card7.jpg").card-img-top
			.card-body
				h5.card-title.dog-card-title French Bulldog Dog Breeder
				p.card-text in San Francisco, Ca, USA    
				.btn-breed
					+icon('crown')
					span.btn-text Gold Breeder
		.card.text-center
			.card-header
				span.text-uppercase BeginAgain Kennel
			img(src="../static/images/general/dog-card8.jpg").card-img-top 
			.card-body
				h5.card-title.dog-card-title Donna, Pomeranian Dog Breeder
				p.card-text in STATHAM, Georgia, USA   
				.btn-breed
					+icon('crown')
					span.btn-text Gold Breeder
		.card.text-center
			.card-header
				span.text-uppercase  Аkc reg beautiful
				p.text-uppercase  french bulldog puppies
			img(src="../static/images/general/dog-card9.jpg").card-img-top
			.card-img-overlay
				+icon('speeker')
				span NEW! Golden Retrievers Litter Coming On: 07/01/2018  
			.card-body
				h5.card-title.dog-card-title French Bulldog Dog Breeder 
				p.card-text in San Francisco, Ca, USA    
				.btn-breed
					+icon('crown')
					span.btn-text Silver Breeder
		.card.text-center
			.card-header
				span.text-uppercase  Micheles Boxers and Bulls
			img(src="../static/images/general/dog-card10.jpg").card-img-top 
			.card-body
				h5.card-title.dog-card-title French Bulldog Litter Coming On
				p.card-text in San Francisco, Ca, USA   
				.btn-breed
					+icon('crown')
					span.btn-text Gold Breeder