section.container.text-center
	h3.com-header  Puppyfinder.com is proud to be a part of the 
	h3.com-header online adoption community. Please consider adopting…
	p.com-text Please consider other online destinations
	ul.list-inline.d-flex.justify-content-around
		li.list-inline-item.align-self-center
			a(href="#")
				img(src="./static/images/general/petfinder.png" alt="Logo of petfinder community")
		li.list-inline-item
			a(href="#")
				img(src="./static/images/general/shelter-pet.png" alt="Logo of the shelter pet project community")
		li.list-inline-item.align-self-center
			a(href="#")
				img(src="./static/images/general/aspca.png" alt="Logo of ASPCA community")