section.container
	.row
		.col-sm-6
			.card.card-qoute.border-success
				.card-body

					h5.card-title 
						+icon('quotes')
						.
							Famous Dog Quotes
					p.card-text The dog was created specially for children. He is a god of frolic. 
						+icon('shape')
					footer.blockqoute-footer -Henry Ward Beecher
		.col-sm-6
			.card.card-qoute
				.card-body
					h5.card-title Dog Quiz
						+icon('faq-grey')
					p.card-text What does a "Three Dog Night" expression mean?
						+icon('arrow-right') 
					footer See Answer