extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'
	- var productName = 'Домик на холме, большая коробка с деталями и кубиками'
	- var productDescription = 'Из этой прекрасной двухэтажной виллы (LEGO № 5771) из серии LEGO Creator. К тому же из виллы можно собрать две другие отличные модели. На площадке для гриля житель этого дома может отлично отдохнуть вместе со своим псом. Дверной звонок на вилле работает и сопровождается собачьим лаем. К тому же из виллы можно собрать еще два других дома.'



		