// Colors
$primary: #36ca51;
$secondary: #5fd374;
$accept: #3aad24;

$darkPink: #e66194;
$lightPink: #ef7ca8;

$darkBlue: #2791aa;
$lightBlue: #50a7bc;

$purple: #a280d3;
$darkPurple: #8d69c0;

$darkGrey: #363636;
$grey: #636363;
$greyText: #9b9b9b;
$lightGrey: #898989;


$red: #ff1100 ;
$orange: #ff8454;

$white: #ffffff;
$mainMenuMouseoverColor: #289015;



// Sizes

// Fonts

// Margins
section.container {
	margin-bottom: 90px;
}