.card-qoute {
	.icon {
		position: absolute;
	}
}
.icon-quotes {
	@include size(15px,9px);
	fill: $grey;
}

.icon-shape {
	@include size(16px,15px);
	fill: $accept;
}

.icon-faq-grey {
	@include size(22px,21px);
	fill: $grey;
}

.icon-arrow-right {
	@include size(11px,19px);
	fill: $accept;
}